<img class="fixed-logo" src="./assets/img/logo/logo.png">

<section class="page-section my-5">
    <div class="container mb-5">
        <div *ngFor="let project of projects; index as projectId; let c = count;">
            <div *ngIf="(projectId ) < c">
                <div *ngIf="projectId  % 2 == 0, else elseBlock">
                    <div class="row">
                        <a class="p-link cover d-flex" [routerLink]="['project/', projects[projectId].url]">
                            <div class="col-4 px-0 py-0 h-100">
                                <img src="assets/img/homepage/{{ projectId * 2 +1 }}.png" class="w-100 h-vh">
                            </div>
                            <div class="col-8 p-0">
                                <img src="assets/img/homepage/{{ projectId * 2 + 2 }}.png" class="w-100 h-vh">
                                <h3 class="p-title">{{ project.name }}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="row">
                        <a class="p-link cover d-flex" [routerLink]="['project/', projects[projectId].url]">
                            <div class="col-8 px-0">
                                <img src="assets/img/homepage/{{ projectId * 2 + 1 }}.png" class="w-100 h-vh">
                                <h3 class="p-title">{{ project.name }}</h3>
                            </div>
                            <div class="col-4 px-0 py-0 h-100">
                                <img src="assets/img/homepage/{{ projectId * 2 + 2 }}.png" class="w-100 h-vh">
                            </div>
                        </a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>

