
*/
  /* Icons Google Font */
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }


/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



.fixed-logo {
  width: 140px;
  position: fixed;
  bottom: 0;
  left: 5%;
  z-index: 50;
}

.cover {
  transition: transform 3s, filter 1s ease-in-out;  
}

@media only all and (max-width: 600px) {
  .h-vh {
    height: 20vh;
  }
}

.cover:hover {
  filter: brightness(70%);
}


.expanded {
  transform: scale(1.1);
}

.featured-row {

}

.p-title {
  color: lightcyan; 
  text-decoration: none; /* no underline */
  position: absolute;
  background-color: black;
  bottom: 10vh;
  left: 10px;
  transition: visibility 2s ease-in-out 1s;
  visibility: hidden;
  padding: 5px;
  border-radius: 8px;
}

.p-link:hover .p-title{
  visibility: visible;
  
}

.h-vh {
  height: 40vh;
}