<nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase text-warning px-5 py-3">
    <a class="navbar-brand" href="#">
        <img src="./assets/img/logo/logo1.png" width="35" height="35" class="d-inline-block align-top" alt="">
    </a>

    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav pr-5 font-weight-bold">
        <li class="nav-item active">
            <button class="nav-link btn" data-toggle="modal" data-target="#contact"><i class="fas fa-envelope-square text-warning" style="font-size: 35px;"></i>
                <span class="sr-only">Contact</span></button>
        </li>
    </ul>

</nav>